body {
    background-color: #e1e1e1;
}

.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.country {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}